

footer {
    //width: 70vw;
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 10px 0;
    .custom-layout(center,center);
    flex-direction: column;

    .blog-company-links {
        max-width: 1000px;
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li {
        line-height: 2.5;
        text-align: center;
    }

    .copy{
        padding-top: 1%;
    }
    
}







// footer{
//     padding:1%;
//     color: #616161;
//     background: #f2f2f2;
//     text-align: center;
//     margin-bottom: 1%;
    

//     p{
//         font-size: 1.5rem;
//     }
    
//   }