footer{
    padding:1%;
    margin-top:1%;
    color:#ffffff;
    background-color:@nav-bg;
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #3e5e78;
    margin-bottom: 1%;
    

    p{
        font-size: 2rem;
    }
  }