
/*Navigation section*/
.main-nav{
    .custom-layout(space-between, center);
     margin: 2% 0;
     margin-left: 9%;

     .logo{
        width: 30%;
    }//logo
    
    .nav-links{
        .custom-layout(flex-end, center);
        width: 70%;

        a {
			width: 20%;
			.custom-a(#292929, 1.8rem, none);
			text-align: center;
        }//this closes a

    }//this closes .nav-links

}

/*End  of navigation*/


