
/*Navigation section*/
.main-nav{
    .custom-layout(space-between, center);
     margin: 2% 0 0 0;
     //background: rgb(174, 206, 233);
     background: #9DC3E3;
     

     .logo{
        width: 28%;
    }//logo
    
    .nav-links{
        .custom-layout(flex-end, center);
        width: 70%;

        a {
			width: 30%;
			.custom-a(#292929, 1.8rem, none);
            text-align: center;
            padding: 1%;
        }//this closes a

    }//this closes .nav-links

}

/*End  of navigation*/


