// Color assignments 
@font-color: @shark;
@main-bg:  @white;
@nav-bg:@lightblue;
@dotted-hover-border: @white;
@nav-hover-text-color:@darkred;
@footer-bg:@lightgrey;

// Colors
@white: #FFFFFF;
@shark: #212529;
@lightblue: #9DC3E3;
@darkred: #B41E57;
@lightgrey: #f2f2f2;

//media
 @mobile: ~"(max-width: 500px)";
 @tablet: ~"(max-width: 800px)";