// Color assignments 
@font-color: @shark;
@main-bg:  @white;
@nav-bg:@lightblue;
@dotted-hover-border: @white;

// Colors
@white: #FFFFFF;
@shark: #212529;
@lightblue: #9DC3E3;

//media
 @mobile: ~"(max-width: 500px)";
 @tablet: ~"(max-width: 800px)";